<% include partials/header %>

<div class="container">
    <h1 class="sectionTitle">About LOFTEA&#153;</h1>
    <p class="pageText">
        LOFTEA&#153; is the premiere artisan tea company dedicated to bringing high quality tea based beverages to those who wish to experience the best of tea. 
        We currently offer our catering services for special events and weddings throughout the GTA area, with our retail location announcing shortly.
        With balance in mind, LOFTEA&#153; was created with the intent to bring artisan products to everyone that holds a fondness for goods with a distinction.  
        We achieve this by striking a synergy between the different elements and take pride in bringing forth a raw product that is not processed and riddled with additives.  
        In the same way, we believe this to be the very essence that makes us so very proud to be Canadian.
    </p>
</div>


<% include partials/footer %>