<% include partials/header %>

<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-12">
            <h1 class="sectionTitle">Visit Us</h1>
            <p>Stop by in person during our regular business hours, or email us any time!</p>
            <p>760 Queen St W, Toronto, ON M6J 1E9 </br> 416-662-5773</p>
            <p>info@loftea.ca</p>
            <p>Mon - Thurs: 12PM - 10PM </br>
               Fri - Sat: 11AM - 11PM </br>
               Sun: 11AM - 10PM</p>
        </div>
        <div class="col-lg-8 col-md-12">
            <div class="mapContainer">
                <iframe class="gmapIframe" src="https://maps.google.com/maps?q=760%20Queen%20St%20W%2C%20Toronto%2C%20ON%20M6J%201E9%2C%20Canada&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            </div>
        </div>
    </div>
</div>

</br>
</br>


<% include partials/footer %>