<% include partials/header %>

<div class="container">
    <h1 class="sectionTitle">FIZZANTI&#153; &#8226; <em>[fiz-an-tee]</em></h1>
    <img src="/img/loft_banner.jpg">
    <p class="pageText">The Italian inspired FIZZANTI&#153;, by LOFTEA&#153; INC, is a premium tea-based beverage unlike any other in the world. 
       It is a combination of a refreshing beverage and pick me up drink.
       Our meticulous search for the highest quality ingredients has lead us to only sourcing the best from around the globe. 
       Whether you are in the mood for something that's refreshingly citrus, classically comforting or adventurously tropical, 
       there will always be a FIZZANTI&#153; for everybody in any mood.</p>
    <p class="pageText">FIZZANTI&#153; is the original carbonated artisan tea beverage and is proudly Canadian.</p>
</div>


<div class="container">
    <h1 class="sectionTitle" id="lofteaSix">The LOFTEA&#153; Six</h1>
    <p class="pageText">At LOFTEA&#153;, we have perfected the art of finding the optimal belance between six crucial ingredients that make FIZZANTI&#153; so delicious and refreshing.</p>
    <div class="row">
        <!--Note: d-flex and align items needed to make sure they are all same size-->
        <div class="col-lg-4 col-md-6 col-sm-12 d-flex align-items-stretch">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://images.unsplash.com/photo-1471520201477-47a62a269a87?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" alt="Card image cap">
                <div class="card-img-overlay"><i class="fa fa-tint fa-4x lofteaSixIcons"></i></div>
                <div class="card-body">
                    <h3>Water</h3>
                    <p class="card-text">Water maybe the most overlooked component of a drink, but it does make up the most of its volume.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 d-flex align-items-stretch">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://images.unsplash.com/photo-1517584640132-9379fc085be0?ixlib=rb-1.2.1&auto=format&fit=crop&w=1653&q=80" alt="Card image cap">
                <div class="card-img-overlay"><i class="fa fa-leaf fa-4x lofteaSixIcons"></i></div>
                <div class="card-body">
                    <h3>Tea Leaves</h3>
                    <p class="card-text">Selected tea will have the greatest impact on the final flavor, this will be where the underlying aromas and flavors originate.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 d-flex align-items-stretch">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://images.unsplash.com/photo-1481900369621-54a7facacc6c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1655&q=80" alt="Card image cap">
                <div class="card-img-overlay"><i class="fa fa-cubes fa-4x lofteaSixIcons"></i></div>
                <div class="card-body">
                    <h3>Sweetener</h3>
                    <p class="card-text">Only the highest quality of syrup will be used. It contains no artificial flavour, colour or sweetener.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 d-flex align-items-stretch">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://images.unsplash.com/photo-1437750769465-301382cdf094?ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80" alt="Card image cap">
                <div class="card-img-overlay"><i class="fa fa-lemon-o fa-4x lofteaSixIcons"></i></div>
                <div class="card-body">
                    <h3>Fruit</h3>
                    <p class="card-text">Fresh fruits at the optimal level of ripeness will create the perfect balance in flavor.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 d-flex align-items-stretch">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://images.unsplash.com/photo-1524821948201-891ce2d8772f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" alt="Card image cap">
                <div class="card-img-overlay"><i class="fa fa-circle-thin fa-4x lofteaSixIcons"></i></div>
                <div class="card-body">
                    <h3>Chewables</h3>
                    <p class="card-text">This optional exotic extra adds a new enjoyable dimension to the texture of FIZZANTI&#153;.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 d-flex align-items-stretch">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://images.unsplash.com/photo-1531816294142-eacf4a1f1f6e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1502&q=80" alt="Card image cap">
                <div class="card-img-overlay"><i class="fa fa-flask fa-4x lofteaSixIcons"></i></div>
                <div class="card-body">
                    <h3>Carbonation</h3>
                    <p class="card-text">Special care is taken to achieve perfect carbonation level, heightening FIZZANTI&#153; into an experience that cannot be replicated.</p>
                </div>
            </div>
        </div>
    </div>
    <a href="#">Top</a>
    <br/>
</div>

<% include partials/footer %>